{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}
    <h1 class="text-center text-dark bg-white">One Product 30/01/66</h1>
     <h2 class="text-center text-dark bg-white">{{ product.pid }}:{{ product.name }}</h2>
    <table class="table  table-hover table-striped " style="background-color: #eccccf">
        <tr>
            <td>ID</td>
            <td>{{ product.pid }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ product.name }}</td>
        </tr>
    <tr>
            <td>Brand</td>
            <td>{{ product.brand }}</td>
        </tr>
    <tr>
            <td>Price</td>
            <td>{{ product.price }}</td>
        </tr>
    <tr>
            <td>Net</td>
            <td>{{ product.net }}</td>
        </tr>
    <tr>
            <td>Category</td>
            <td>{{ product.catagory.name }}</td>
        </tr>
    </table>
    <a onclick="history.back();" class="btn btn-warning">Back</a>
{% endblock %}