{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center><h3><marquee>ยินดีต้อนรับสู้เว็บไซต์ ให้สินเชื่อสำหรับธุรกิจรายย่อย</marquee></h3></center>
<style type="text/css">
* {
  box-sizing: border-box;
}

    body{
        font-family: 'Prompt', sans-serif;
    }

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin:-8px -20px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 8px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>
<div class="main" >

<h1>สินเชื่อสำหรับธุรกิจรายย่อย</h1>
<hr>

<h2>รายละเอียด</h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')">แสดงทั้งหมด</button>
  <button class="btn" onclick="filterSelection('canon')" >คำแนะนำ</button>
  <button class="btn" onclick="filterSelection('sony')"> ประเภทธุรกิจ</button>
</div>

<div class="row">
  <div class="column canon " >
    <div class="content" style="height: 255px">
        <a target="_blank" href="https://www.gsb.or.th/gsb_govs/smes_reatail/">
      <img src="{% static 'images/Combo-Credit_SME_Drop-Leads-PC-New.jpg' %}" alt="Mountains" style="width:100%">
        </a>
      <h4>ธนาคารออมสิน</h4>
      <p>เพื่อใช้ในการประกอบธุรกิจอุตสาหกรรม ธุรกิจพาณิชยกรรม ธุรกิจบริการ และเกษตรเพื่อการค้า</p>
    </div>
  </div>
  <div class="column canon" >
    <div class="content">
        <a target="_blank" href="https://taokaemai.com/%E0%B9%80%E0%B8%9B%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%AA%E0%B8%B4%E0%B8%99%E0%B9%80%E0%B8%8A%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B9%80%E0%B8%9E%E0%B8%B7/">
    <img src="{% static 'images/SME-Loan.png' %}" alt="Lights" style="width:100%">
        </a>
      <h4>สินเชื่อเพื่อ SME</h4>
      <p> ของธนาคารไหนดี ที่นี่มีแนะนำ</p>
    </div>
  </div>
  <div class="column canon">
    <div class="content">
         <a target="_blank" href="https://www.tcg.or.th/article_inside.php?article_id=313">
    <img src="{% static 'images/220908113837xsCs.jpg' %}" alt="Nature" style="width:100%">
         </a>
      <h4>สิ่งที่ควรรู้เมื่อขอกู้เงิน</h4>
      <p>เอกสารที่ใช้ในการขอสินเชื่อ</p>
    </div>
  </div>

  <div class="column sony">
    <div class="content">
        <a target="_blank" href="https://www.scb.co.th/th/sme-banking/business-loan/business-loan-products.html#categories=scb-sme:categories/secured-loan">
      <img src="{% static 'images/ssme_green_financing_desktop.jpg' %}" alt="Car" style="width:100%">
        </a>
      <h4>สินเชื่อธุรกิจ</h4>
      <p>สินเชื่อธุรกิจแบบใช้หลักประกัน</p>
    </div>
  </div>
  <div class="column sony">
    <div class="content">
        <a target="_blank" href="https://www.scb.co.th/th/sme-banking/business-loan/unsecured-loan/unsecured-generic.html">
    <img src="{% static 'images/ssme-unsecured-june2022-desktop.jpg' %}" alt="Car" style="width:100%">
        </a>
      <h4>สินเชื่อธุรกิจ</h4>
      <p>สินเชื่อธุรกิจแบบไม่ใช้หลักประกัน</p>
    </div>
  </div>
  <div class="column sony">
    <div class="content">
        <a target="_blank" href="https://www.scb.co.th/th/sme-banking/business-loan/working-capital/overdraft.html">
    <img src="{% static 'images/overdraft-d.jpg' %}" alt="Car" style="width:100%">
        </a>
      <h4>สินเชื่อธุรกิจ</h4>
      <p>เงินทุนหมุนเวียน</p>
    </div>
  </div>
    <div class="column sony">
    <div class="content">
        <a target="_blank" href="https://www.scb.co.th/th/sme-banking/business-loan/letter-of-guarantee/letter-of-guarantee.html">
    <img src="{% static 'images/letter-of-gurantee-d.jpg' %}" alt="Car" style="width:100%">
        </a>
      <h4>สินเชื่อธุรกิจ</h4>
      <p>หนังสือค้ำประกัน</p>
    </div>
  </div>
    <div class="column sony">
    <div class="content">
        <a target="_blank" href="https://www.scb.co.th/th/sme-banking/business-loan/long-term-loan/long-term-loan.html">
    <img src="{% static 'images/long-term-loan-d.jpg' %}" alt="Car" style="width:100%">
        </a>
      <h4>สินเชื่อธุรกิจ</h4>
      <p>สินเชื่อระยะยาว</p>
    </div>
  </div>


</div>


</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}



var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
{% endblock %}